body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}


.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: 0.3s;
  outline: none;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  background-color: white;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 20px;
  text-align: center;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  margin-left: 84px;
}

.card h2 {
  color: #4CAF50;
  font-size: 1.2em;
  margin: 15px 15px 5px;
}

.card p {
  color: #555;
  margin: 0 15px 15px;
  line-height: 1.5;
}

/* Responsive para móviles */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
  }
}